.editor-styles-wrapper {

	.nelio-maps-google-map.is-api-key-missing {
		background: #eee;
		position: relative;
		text-align: center;
		padding: 2em 2em 4em;

		.dashicons.dashicons-location-alt {
			margin: 0 auto 2rem;
			height: 1em;
			width: 1em;
			font-size: 5em;
		}

		.nelio-maps-google-map-placeholder-key {
			background: #fff;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
			display: inline-block;
			padding: 1em 2em 1.4em;

			p {
				text-align: center;
				font-size: 0.9em;
				margin: 0;
			}

			p:first-child {
				font-weight: 700;
			}
		}
	}

	section.nelio-maps-google-map {

		.address {
			min-width: 30%;

			p.mce-content-body,
			p.editor-rich-text__tinymce {
				text-align: left;
				font-size: 0.9rem !important;
				line-height: 1.2 !important;
			}
		}
	}
}

.nelio-maps-address-search-dropdown {
	width: 20em;

	.components-base-control__field {
		margin-bottom: unset !important;
	}
}

/* Google Location Search Dropdown */
.pac-container.pac-logo {
	z-index: 99999999;
}
